<body id="MyPage">

<!-- script.js Script insert-->
<script src="/javascripts/script.js"></script>

    <header class="master">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Threshold Conference '18</div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="container">
                            <div class="col-sm-4" id="live">Follow</div>
                            <div class="col-sm-4" id="love">Love</div>
                            <div class="col-sm-4">Lead</div>
                        </div>

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="intro-countdown">The Countdown has begun</div>
                    </div>
                </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="timer" id="ct"></div>
                        </div>
                    </div>

               <div class="container-fluid">
                   <div class="row button-row">
                       <button type="button" class="btn btn-default btn-lg" onclick="window.location.href='registry'">Record Your Arrival</button>
                   </div>
               </div>


            </div>
        </div>
    </header>

    <footer class="footer ftr-pg1">
        <div class="container-fluid">
            <div class="row">
                <div class="copyright-info">
                    <span class="copyright">Copyright © Threshold Conference'18 Website</span>
                </div>
            </div>
            <div class="row">
                <div class="facebook-link">
                    <a href="https://www.facebook.com/Thresholdhull">
                        <i class="fa fa-facebook-square fb-sq" aria-hidden="true"></i>
                    </a>
                    <div class="plug-in-footer-txt">Plug in to What's happening through Facebook.</div>
                </div>
            </div>
        </div>
    </footer>

</body>
