<body id="RegisterPage">
    <header class="regTop">
        <div class="container">
           <div class="reg-page-title">Threshold Conference '18</div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4" id="live">Live</div>
                    <div class="col-sm-4" id="love">Love</div>
                    <div class="col-sm-4">Lead</div>
                </div>
            </div>


            <div class="card-pos">
                 <div class="card text-center" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Threshold '18 Conference Registry</h4>

                        <form action="registry" method="post">
                            <div class="form-group">
                                <label for="InputFirstName">First Name</label>
                                <input type="text" class="form-control" id="InputFirstName" placeholder="First Name" name="iFirstName">
                            </div>

                            <div class="form-group">
                                <label for="InputLastName">Last Name</label>
                                <input type="text" class="form-control" id="InputLastName" placeholder="Last Name" name="iLastName">
                            </div>

                            <div class="form-group">
                                <label for="InputEmail">Email Address</label>
                                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter Email" name="iEmail">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>

                            <div class="form-group">
                                <label for="InputPhoneNo">Phone Number</label>
                                <input type="tel" class="form-control" id="InputPhoneNo" aria-describedby="phoneHelp" placeholder="Enter Number" name="iPhoneNo">
                                <small id="no help" class="form-text text-muted">We'll never share your Number with anyone else.</small>
                            </div>


                            <button type="submit" class="btn btn-default" id="submit">Submit</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </header>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="copyright-info">
                    <span class="copyright">Copyright © Threshold Conference'18 Website</span>
                </div>
            </div>
            <div class="row">
                <div class="facebook-link">
                        <a href="#">
                            <i class="fa fa-facebook-square fb-sq" aria-hidden="true"></i>
                        </a>
                    <div class="plug-in-footer-txt">Plug in to What's happening through Facebook.</div>
                </div>
            </div>
        </div>
    </footer>
</body>