<body id="SuccessPage">
<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Enjoy as we celebrate the 10th Anniversary together</strong></p>
    <hr>
</div>

<footer class="footer ftr-pg3">
    <div class="container-fluid">
        <div class="row">
            <div class="copyright-info">
                <span class="copyright">Copyright © Threshold Conference'18 Website</span>
            </div>
        </div>
        <div class="row">
            <div class="facebook-link">
                <a href="#">
                    <i class="fa fa-facebook-square fb-sq" aria-hidden="true"></i>
                </a>
                <div class="plug-in-footer-txt">Plug in to What's happening through Facebook.</div>
            </div>
        </div>
    </div>
</footer>
</body>